---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";

import { SETTINGS } from "../../config";

const showDevTools = import.meta.env.DEV || SETTINGS.showNavBar;
---

<div class="main-content">
  {showDevTools && <Navbar />}
  <div class="main-body animate-in">
    <slot />
  </div>
  <Footer />
</div>
